.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid wheat;
}
.bar{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}
.bar h5{
  cursor: pointer;
}
.item{
  border :2px solid wheat;
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
  padding-top: 25px;
}
.flx{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.search{
  border-bottom: 2px solid wheat;
  margin-top: 5px;
  padding-left: 50%;
  padding-bottom: 5px;
}
.home{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  margin-left: 6%;
  margin-top: 50px;
  justify-content: space-between;
  margin-right: 6%;
}
.postItem{
  border-bottom: 2px solid white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postItem div{
  display: flex;
  flex-direction: row;
}
.postItem div h3{
  margin-left: 5px;
}